# Python virtual environment
Python/dl_env/

# Byte-compiled files
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
dl_env/

# IDE/editor
.vscode/
.idea/
*.swp



# Large data files
*.csv
*.h5
*.pkl
